body {
    background-color: #fff;
}

.text-blue {
    color: #0d7dd4;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
    padding-top: 5px;
    text-decoration: none;
}

.blue {
    color: #0d7dd4;
    font-size: 20px;
    text-align: center;
    display: inline-block; 
}

.text-blue:hover {
    opacity: 75%;
    cursor: pointer;
}

.btn {
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    background-color: #0d7dd4;
    color: #fff;
    display: inline-block;
    padding: 7px;
}

.btn:hover {
    opacity: 85%;
    cursor: pointer;
}

.btn-outline {
    text-align: center;
    font-size: 15px;
    color: #0d7dd4;
    display: inline-block;
    padding: 7px;
    border: 2px solid #0d7dd4;
    border-radius: 4px;
}

.btn-outline:hover {
    opacity: 75%;
    cursor: pointer;
}


.title {
    display: inline-block;
    color: #0d7dd4;
    padding-top: 7px;
}

.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.title-main {
    display: inline-block;
    color: #0d7dd4;
    padding-top: 60px;
}

.front-text {
    margin-left: 20px;;
}

.start-btn {
    background-color: rgb(67, 175, 238);
    padding: 15px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    min-width: 120px;
    min-height: 55px;
}

.start-btn:hover {
    opacity: 90%;
    cursor: pointer;
}

.subtitle {
    font-size: 35px;
    color: #165a8d;
}

.MuiCircularProgress-colorPrimary {
    color: #fff !important;
}


.undraw {
    width: 450px;
    height: 450px;
    margin: 10px;
}

.inp-field {
    border: 2px solid #0d7dd4;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    margin-top: 25px;
    width: 335px;
}

.inp-field-sign {
    border: 2px solid #0d7dd4;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 3px;
    margin-right: 2px;
    width: 150px;
}

.inp-field-sign:focus {
    outline: none;
}

.inp-field:focus {
    outline: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e5e5e5;
  color: #667;
  padding: 3px;
  text-align: center;
  margin-top: 20px;
}

.product-card {
    min-width: 250px;
    padding: 20px;
    margin: 10px;
    border: 2px solid #0d7dd4;
    border-radius: 5px; 
    font-size: 20px;
    color: #0d7dd4;
    cursor: pointer;
}


.product-list {
    margin-top: 30px;
}

.prices {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 25px;
}

.table tr {
    text-align: center;
}

.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #0d7dd4;
}



.retailPrice {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,178,253,1) 100%);
    min-width: 250px;
    border-radius: 5px;
    color:#fff;
    padding: 20px;
    font-size: 20px;
}

.tax {
    background: linear-gradient(360deg, rgba(232,167,236,1) 0%, rgba(238,97,161,1) 100%);
    min-width: 250px;
    border-radius: 5px;
    color:#fff;
    padding: 20px;
    font-size: 20px;
}

.profit {
    background: linear-gradient(360deg, rgba(179,218,77,1) 0%, rgba(77,204,111,1) 100%);
    min-width: 250px;
    border-radius: 5px;
    color:#fff;
    padding: 20px;
    font-size: 20px;
}

.quantity {
    font-size: 12px;
}